BasedOnStyle: LLVM
Language:Cpp
Standard:Cpp11
IndentWidth:4
ColumnLimit:120
BinPackParameters:false
AlwaysBreakTemplateDeclarations:true
PenaltyReturnTypeOnItsOwnLine:10000
BreakConstructorInitializers:AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine:true